*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.main-container{
    border:1px solid red;
    height:100vh;
    width:100%;
}
.products-container{
    border:1px solid blue;
    height:70vh;
    width:100%;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    overflow:auto;
    gap:10px;
    padding:1.5%;
}
.button-container{
    border:1px solid green;
    margin-top:1rem;
    height: 20vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:0.5rem;
}
.button-container>button{
    height:2rem;
    width:10%;
    cursor:pointer;
    background-color: blue;
    color:white;
    border:none;
    font-size: large;
}

.product-mainDiv{
    border:2px solid black;
    height:60vh;
    width:70%;
    display:flex;
    flex-direction:column;
    /* gap:20px; */
}

.imageDiv{
    border:1px solid green;
    height:70%;
}
.imageTag{
    height:100%;
    width:100%;
}
.textDiv{
    border:1px solid blue;
    height:30%;
    padding:1%;
}